<app-info-box [headerSection]="headerFruit">

  <h3>❝ Hira Hira no Mi ❞</h3>

  <div class="tips-box">
    <div class="tooltip">
      <div class="tips-content">
        <img src="../../../assets/images/tip3.png" class="img-tips">
        <p>primeira pista</p>
        <p>Em {{tip1Count}} tentativas</p>
      </div>
      <span class="tooltiptext">O tipo de fruta</span>
    </div>

    <div class="tooltip">
      <div class="tips-content">
        <img src="../../../assets/images/tip4.png" class="img-tips">
        <p>Tradução</p>
        <p>Em {{tip2Count}} tentativas</p>
      </div>
      <span class="tooltiptext">Tradução do nome da fruta</span>
    </div>

    <div class="tooltip">
      <div class="tips-content">
        <img src="../../../assets/images/tip5.png" class="img-tips">
        <p>O que faz</p>
        <p>Em {{tip2Count}} tentativas</p>
      </div>
      <span class="tooltiptext">O que a fruta faz</span>
    </div>

  </div>
</app-info-box>

<div class="column-box">

  <div class="content-box">
    <app-complete-chars class="autocomplete-box" [bottomBounds]="bottomBounds()" (listLength)="filteredListLenght = $event"/>

  </div>

  <div class="box3">
    <span>O carácter de ontem foi <span class="yesterDay-char">Juao</span></span>
  </div>
</div>

