<div class="menu-box">
  <div class="container-img img1" (click)="goToClassicQuiz(1)">
    <div class="paragraf-box p1">
      <h3>Clássico</h3>
      <p>Consiga pistas a cada tentativa</p>
    </div>
  </div>

  <div class="container-img img2" (click)="goToClassicQuiz(2)">
    <div class="paragraf-box p2">
      <h3>Akuma no Mi</h3>
      <p>Adivinha com um nome</p>
    </div>
  </div>

  <div class="container-img img3" (click)="goToClassicQuiz(3)">
    <div class="paragraf-box p3">
      <h3>Wanted</h3>
      <p>Adivinha com um cartaz</p>
    </div>
  </div>

  <div class="container-img img4" (click)="goToClassicQuiz(4)">
    <div class="paragraf-box p4">
      <h3>Ri-te</h3>
      <p>Adivinha com um áudio de riso</p>
    </div>
  </div>
</div>
