<div class="content-box">
  <div class="box0">
    <div class="box05">
      <div class="box1">
        <h2>Adivinha qual é a personagem de One Piece de hoje!</h2>
        <p>Escreve um carácter qualquer para começar.</p>
      </div>
    </div>
  </div>


  <app-complete-chars class="autocomplete-chars"/>
  <!-- <div class="box2">
    <input type="text" class="input-text" placeholder="Nome da personagem, pseudónimo" >
    <input type="image" src="../../../assets/images/paper-plane.png" class="paper-plane">
  </div> -->
  <div class="box3">
    <span>O carácter de ontem foi <span class="yesterDay-char">{{yesterDay}}</span></span>
  </div>
</div>
